.employees {
    display: flex;
    flex-flow: column nowrap;
}

.employeeList {
    display: flex;
}

.addEmployeeButton {
    width: 100px
}

.employee {
    flex-basis: 28%;
    margin: 1em;
    padding: 1em;
    border: 1px solid goldenrod;
}